.dp-highlight .ui-state-default {
    background: #0099ff;
    color: #FFF;
}

.ui-datepicker.ui-datepicker-multi {
    width: 100% !important;
}

.ui-datepicker-multi .ui-datepicker-group {
    float: none;
}

#datepicker {
    height: 250px;
    overflow-x: scroll;
}

.ui-widget {
    font-size: 70%
}